:root {
    --emerald1: #ecfdf5;
    --emerald2: #a7f3d0;
    --emerald3: #34d399;
    --emerald4: #34d399;
    --emerald5: #065f46;
    --emerald6: #022c22;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    /* footer support */
    position: relative;
    min-height: 100%;
}

body {
    padding: 0;
    margin-bottom: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--emerald1);
    color: var(--emerald6)
}

button,
input {
  display:block;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

button:hover {
    cursor: pointer;
}

header {
    background-color: var(--emerald5);
    color: var(--emerald1);
    padding: 0.5rem;
    margin: 0;
}

main {
    display: flex;
    /* footer support */
    min-height: 88vh;
}

/* MAIN NAV SECTION */

main .nav {
    padding: 1rem;
    background-color: var(--emerald2);
}

main .nav .home button {
    padding: 1rem;
    height: 3rem;
    width: 15rem;
    border-radius: 10px;
    margin-bottom: 0.2rem;
}
main .nav h3 {
    margin: 1rem 0;
}

main .nav .home button {
    padding: 1rem;
    margin: 1rem 0;
}

main .nav .projects {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

main .nav .selected {
    background-color: lightblue;
}

main .nav .projects .project {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

main .nav .project .vert  {
    margin-left: auto;
    
    
} 

main .nav form section {
    display: flex;
    gap: 1rem;
}

.project .popup {
    position: absolute;
    background-color: var(--emerald1);
    box-shadow: black;
    padding: 0.2rem;
    cursor: pointer;
    right: 10px;
    bottom: 40px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.4)
    
    
}

.project .popup > * {
    padding: 0.5rem 0.2rem;
}

.project .popup > *:hover {
    background-color: rgba(188, 236, 182, 0.555);
}

/* MAIN LIST SECTION */

main .list {
    width: 900px;
    padding: 1rem;
    margin: 0 auto;
}

main .list h2 {
    margin-bottom: 1rem;
}

main .list .add-task-button, main .list form button {
    padding: 1rem;
    margin-bottom: 1rem;
}

main .list .task-item {
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}

main .list .task-item .right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

main .list .task-item button {
    background-color: none;
}

main .list .task-item:hover {
    cursor: pointer;
    background-color: var(--emerald2);
}

main .list form section {
    display: flex;
    gap: 1rem;
}

footer {
    background-color: var(--emerald3);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
}